/*variables*/
:root{
	--content-color: #787878;
	--content-font: "Nunito Sans" ,sans-serif;
	--title-font: "Montserrat" , sans-serif;
}

/*global*/
*{
	box-sizing: border-box;
}
body{
	font:400 16px var(--content-font);
	color: var(--content-color);
}
.wrapper{
	max-width: 1156px;
	margin: 0 auto;
}
.clearfix::after  , .clearfix::before{
	content: '';
	display: block;
	clear: both;
}
h2{
	font: 600 30px Montserrat;
	color: #191919;
}
img{
	max-width: 100%;
	height: auto;
}
/*header*/
.header-bg{
	width: 100%;
	height: 100vh;
	background: #000 url(../img/header/header-bg.jpg) center no-repeat;
	background-size: cover;

}
.header__block{
	padding-top: 25px;
	margin-bottom: 180px;
}
.header__logo{
	float: left;
}

 /*navigation*/
.header__nav{
	float: right;
	margin-top: 0;
}
.header__nav__item{
	float: left;
	margin-right: 30px;
}
.header__nav__item:last-child{
	margin-right: 0;
}
.header__nav__link{
	font: 900 14px Montserrat;
	color: #191919;
	text-transform: uppercase;
}
.active__link , .header__nav__link:hover{
	color: #10c9c3;
}
 /*/navigation*/
 /*header__descr*/
 .header__descr{
 	float: right;
 	width: 50%;
 	overflow: hidden;
 }
 .header__descr__title{
 	color: #1d1d1d;
 	font: 600 32px/48px Montserrat;

 }
 .header__descr__text{
 	font-size: 18px;
 	line-height: 28px;
 	background-color:rgba( 255, 255,255,.5);
 	padding: 10px 10px;
 }
 .btn{
 	color: #fff;
 	font: 600 12px Montserrat;
 	text-transform: uppercase;
 	letter-spacing: 1.4px;
 	background-color: #39b4af;
 	padding: 20px 45px;
 	cursor: pointer;
 }
 /*/header__descr*/
/*/header

/*about*/
.about{
	background-color: #fff;
	text-align: center;
	padding: 90px 0 ;
}

.about__text{
	color: #787878;
	font-size: 16px;
	padding: 0 60px;
}
.about__signature{
	display: inline-block;
	width: 300px;
	height: 70px;
	background: url(../img/icons/signature.png) no-repeat center center;
}
/*/about*/

/*skills*/
.skills{
	background: url('../img/skills/skills-bg.jpg') no-repeat center center;
  background-size: cover;
}
.skills__descr{
	width: 50%;
	float: left;
	padding: 150px 60px 150px 0;  
}
.skill__subtitle{
	font: 600 14px Montserrat;
	color: #000;
	margin-bottom: 15px;
}
.skills__inf{
	width: 50%;
	float: right;
	background-color: #e9e9e9;
}
.progress__bar{
	width: 100%;
	height: 4px;
	background-color: #d8d8d8;
	position: relative;
}
.skill__design , .skill__web , .skill__marketing{
	margin-bottom:  35px;
}
.progress__bar::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 4px;
	background-color: #10c9c3;
}
.skill__design__progress::before{
	content: '';
	width: 75%;
}
.skill__web__progress::before{
	content: '';
	width: 90%;
}
.skill__marketing__progress::before{
	content: '';
	width: 65%;
}
/*/skills*/

/*services*/

.services{
	background-color: #10c9c3;
	padding: 70px 0;
}
.services__item{
	float: left;
	width: 25%;

}

.services__count , .services__descr{
	font: 400 12px/1.6 Montserrat;
	color: #fff;
	text-transform: uppercase;

}
.services__icon{
	
}
.services__icon__item{
	float: left;
	margin-right: 10px;
}
/*/services*/

/*gallery*/


.gallery__item{
	float: left;
	height: 300px;
	width: 25%;
	position: relative;

}
.item-1{
	background: url(../img/gallery/item-1.png)no-repeat center center;
}
.item-2{
	background: url(../img/gallery/item-2.png)no-repeat center center;
}
.item-3{
	background: url(../img/gallery/item-3.png)no-repeat center center;
}
.item-4{
	background: url(../img/gallery/item-4.png)no-repeat center center;
}
.item-5{
	background: url(../img/gallery/item-5.png)no-repeat center center;
}
.item-6{
	background: url(../img/gallery/item-6.png)no-repeat center center;
}
.item-7{
	background: url(../img/gallery/item-3.png)no-repeat center center;
}
.item-8{
	background: url(../img/gallery/item-2.png)no-repeat center center;
}
.gallery__item::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.gallery__item:hover::before{
	background:rgba(0,0,0,.6) url(../img/icons/eye.png)no-repeat center center;
}

.item-grey{
	background-color: #838383;
}
.item-white{
	background-color: #dddddd;
}
.gallery__more{
	text-align: center;
	background-color:#f5f5f5;
	height: 50px
}
.gallery__more__item{
	font: 12px Montserrat;
	text-transform: uppercase;
	color: #8e8e8e;
	line-height: 50px;
}
/*/gallery*/

/*process*/
.process{
	text-align: center;
	padding: 100px 0;
}
.process__video{
	margin-top: 30px;
	width: 100%;
	height: 550px;
	position: relative;
	background-color:#e9e9e9;
	cursor: pointer;
}
.process__video::before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50% ,-50%);
	display: block;
	width: 85px;
	height: 85px;
	background: url(../img/icons/play-icon.png)no-repeat center center;
}
/*/process*/

/*possibility*/
.possibility{
	background-color: #f5f5f5;
	padding: 100px;
}
.possibility__block{
}
.possibility__item{
	float: left;
	text-align: center;
	width: 23%;
	margin: 1%;
}
.possibility__item img{
	width: 41px;
	height: 41px;
}
/*/possibility*/

/*quote*/
.quote{
	background-color: #10c9c3;
	text-align: center;
	padding: 90px 200px;
	color: #fff;

}
.quote__title{
	font: 500 25px/1.6 Montserrat;
	}
.quote__subtitle{
	font: 400 12px Montserrat;
}
/*/quote*/

/*sponsors*/
.sponsors{
	padding:  50px 0;
	text-align: center;
}
.sponsors__default{
	display: inline-block;
	margin-right: 128px;
	width: 125px;
	height: 90px;
	position: relative;
	background: url(../img/sponsors.jpg)no-repeat left center;
}
.sponsors__item-2{
	background-position: -240px 0px;
}
.sponsors__item-3{
	background-position: -505px 0px;
}
.sponsors__item-4{
	background-position: -775px 0px;
}
.sponsors__item-5{
	background-position: -995px 0px;
}
.sponsors__item-5{
	margin-right: 0;
}
/*/sponsors*/

/*feedback*/
.feedback{
	padding: 80px 0;
	background: #f5f5f5;
}
.feedback__wrapper{
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}
.feedback__form{
	margin-top: 35px;
}
.feedback__form__item{
	padding: 15px 10px 15px 20px;
	background-color:#fff;
	color: #787878;
	font: 15px Nunito-Sans;
}
.form__item-1{
	width: 48%;
	margin-right: 1%;
	float: left;
}
.form__item-2{
	float: right;
	width: 48%;
	margin-left: 1%
}
.form__item-title{
	width: 100%;
	margin-top: 25px;
}
.form__item-msg{
	width: 100%;
	resize: none;
	display: block;
	margin: 25px 0;
	padding: 15px 10px 15px 20px;
}
/*/feedback*/

/*contacts*/
.contacts{
	background-color: #141414;
	padding: 80px 0;
	color: #bcbcbc;
}
.contacts__item{
	float: left;
}
.contacts__socials{
	float: right;
}
.contacts__name{
	margin-right: 200px;
}
.contacts__title{
	font: 500 18px Montserrat;
	color: #fff;
	margin-top:0;
}
.contacts__name__descr{
	font: 400 15px Nunito-Sans;
}
.contacts__data{
	margin-right: 140px;
}
.contacts__nav-1 ul li a , .contacts__nav-2 ul li a , .contacts__socials ul li a{
	color: #bdbcdb;
}
.contacts__nav-1{
	margin-right: 50px;
}
/*/contacts*/